:host {
	display: block;
	padding: 16px;
	margin: auto 0;
}

.overflow-hidden {
	overflow: hidden;
}

.no-margin {
	margin: 0;
}

.list {
	margin: 0 -16px;
	margin-top: -16px;
	position: relative;
	top: 16px;
}