<mat-card>
	<mat-card-content style="text-align: center">
		<h1>Welcome to {{title}}!</h1>
		<img width="250" alt="Angular Logo"
		     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
	</mat-card-content>
	<mat-card-content class="bg-white">
		<h2 class="no-margin">Here's a few links to get you started</h2>
		<mat-nav-list class="list">
			<a mat-list-item target="_blank" rel="noopener"
			   href="https://angular.io/tutorial">
				<h3 matLine>Tour of Heroes</h3>
				<p matLine>
					Learn the core concepts of Angular using the Tour of Heroes.
				</p>
			</a>
			<mat-divider inset></mat-divider>
			<a mat-list-item target="_blank" rel="noopener"
			   href="https://github.com/angular/angular-cli/wiki">
				<h3 matLine>CLI Documentation</h3>
				<p matLine>
					Learn the Angular CLI or refresh your memory.
				</p>
			</a>
			<mat-divider inset></mat-divider>
			<a mat-list-item target="_blank" rel="noopener"
			   href="https://blog.angular.io/">
				<h3 matLine>Angular blog</h3>
				<p matLine>
					Read up on the latest news and tips from the Angular team.
				</p>
			</a>
			<mat-divider inset></mat-divider>
			<a mat-list-item target="_blank" rel="noopener"
			   href="https://material.angular.io/">
				<h3 matLine>Angular Material Documentation</h3>
				<p matLine>
					Learn Angular Material or refresh your memory.
				</p>
			</a>
		</mat-nav-list>
	</mat-card-content>
</mat-card>
